<h2>Posts</h2>

<div *ngFor="let post of userPosts">
  <h3>{{ post.title }}</h3>
  <p>{{ post.content }}</p>
  <div>
    <button (click)="likePost(post.id)">
        {{ likedPosts.has(post.id) ? 'Unlike' : 'Like' }}
    </button>
    <span *ngIf="likedPosts.has(post.id)">You liked this post</span>
  </div>
  <div class="comments">
    <h4>Comments</h4>
    <ul>
      <li *ngFor="let comment of post.comments">{{ comment }}</li>
    </ul>
    <input type="text" placeholder="Add a comment" [(ngModel)]="newComment">
    <button (click)="addComment(post.id)">Add Comment</button>
  </div>
</div>